body {
    background-color: rgb(95, 160, 114);
}

h1 {
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 20px;

}

h2 {
   font-size: 40px; 
}

.container-2 {
     height: 275px;
     width: 450px;
}

li {
    font-size: 18px;
 }
