body {
    background-color: cadetblue;
}

h1 {
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 20px;

}

h2 {
   font-size: 40px; 
}

h3 {
    font-size: 25px;
}



.container {
     height: 350px;
     width: 350px;
}
